body{
    background: linear-gradient(to right, #dbeafe, #bfdbfe);
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 900px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-color: #eff6ff;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0px 0px 20px #60a5fa;
    border: solid 4px #2563eb;
}

.logo{
    width: 500px;
    margin-bottom: 10px;
}

h1{
    color: white;
    font-size: 55px;
    background-color: #2563eb;
    border-radius: 15px;
    padding: 15px;
    text-shadow: 2px 2px 4px black;
    margin-top: -10px;
}

p{
    font-size: 30px;
    color: #1e3a8a;
}

input{
    width: 350px;
    height: 40px;
    font-size: 22px;
    border-radius: 12px;
    border: solid 3px #3b82f6;
    background-color: white;
    padding: 5px;
    color: #1e3a8a;
}

input:focus{
    background-color: #dbeafe;
}

button{
    width: 300px;
    height: 65px;
    font-size: 25px;
    background: linear-gradient(to right, #2563eb, #60a5fa);
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
}

button:hover{
    background: linear-gradient(to right, #1d4ed8, #3b82f6);
}
.botom{
    width: 300px;
    height: 65px;
    font-size: 25px;
    background: linear-gradient(to right, #2563eb, #60a5fa);
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
}
